.btn-theme {
   background: var(--app-color-theme) !important;
   color: var(--app-color-white) !important;

   &:focus {
      box-shadow: 0 0 0 .2rem var(--app-color-theme-alpha) !important;
   }

   &:hover {
      border-color: var(--app-color-theme) !important;
      background-color: transparent !important;
      color: var(--app-color-theme) !important;
   }
}

.subtitle {
   font-size: 25px;
}

.title {
   font-size: 40px;
}

.text-theme-hover:hover,
.text-theme {
   color: var(--app-color-theme) !important;
}

.bg-theme {
   background-color: var(--app-color-theme);
}

.partners-image {
   opacity: 0.5;
   transition: all 0.3s ease-in-out;

   &:hover {
      opacity: 1;
   }
}

.overlay {
   background-color: rgba(0, 0, 0, 0.5);

   .btn-theme {
      &:hover {
         color: var(--app-color-white) !important;
         border-color: var(--app-color-white) !important;
      }

      &:focus {
         background-color: transparent !important;
         box-shadow: 0 0 0 .2rem var(--app-color-white-alpha) !important;
      }

   }
}

.form-control:focus {
   border-color: var(--app-color-theme) !important;
   box-shadow: 0 0 0 .2rem var(--app-color-theme-alpha) !important;
}

.text-midium {
   font-size: 20px;
}

.text-large {
   font-size: 25px;
}

.bg-light-gray {
   background-color: var(--app-color-light-gray);
}