.blog-post-area {
   .blog-post-title-link {
      &:hover {
         color: var(--app-color-theme) !important;
      }
   }

   h2 {
      font-size: 25px;
      font-weight: 600;
      line-height: 25px;
   }
}