.app-hero-slider {
   .hero-slide-item {
      .inner-content {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         background: rgba(0, 0, 0, 0.5);
         color: white;
         z-index: 100000;

         .container {
            position: relative;
            z-index: 99999;
         }
      }
   }
}